#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(50, 47, 47);
  color: white;
  padding: 10px;
}

.navbar ul {
  display: flex;
  width: 600px;
  margin: 0px auto;
  font-size: 14px;
  list-style: none;
}

.navbar ul li {
  margin: 10px;
}

.App {
  background: hsl(159, 80%, 15%);
  height: 100vh;
}